{{> navbar}}
<br />
{{#if products}}
    <div class="contenedor_padre">
        <h1>Vista de productos</h1>
        <div class="encabezado">
            <h3>Nombre</h3>
            <h3>Precio</h3>
            <h3>Foto</h3>
        </div>
        {{#each products}}
        <div class="contenedor_productos">
            <p>{{this.title}}</p>
            <p>${{this.price}}</p>
            <div class="contenedor_imagen">
                <img src="{{this.thumbnail}}"/>
            </div>
        </div>
        {{/each}}
    
{{else}}
<h2 class="lista_vacia">No se encontraron productos</h2>

{{/if}}

</div> 

