<!DOCTYPE html>
<html lang="es">

<head>
    {{>head}}
</head>

<body class="body_form">
    {{>navbar}}
    <h2>Ingrese un Producto</h2>
    <form method="post" action="/products">
        <label for="title">Nombre</label>
        <input type="text" id="title" name="title" />
        <label for="price">Precio</label>
        <input type="text" id="price" name="price" />
        <label for="thumbnail">Foto URL</label>
        <input type="text" id="thumbnail" name="thumbnail" />
        <input type="submit" value="Enviar" />
    </form>
</body>

</html>