<h1 >Cargar un producto</h1>
    <form id="formulario" onsubmit="return postProducto()" >
        <input type="text" name="nombre" id="nombreProducto" class="form-control" placeholder="Nombre"  required="true"><br>
        <input type="number" name="precio" id="precioProducto" class="form-control" placeholder="Precio" required="true"><br>
        <input type="text" name="thumbnail" id="urlProducto" class="form-control" placeholder="URL imagen" ><br><br>
        <button type="submit">Cargar</button>
    </form>
