html
    head
        include ../partials/head
    body.body_form
        include ../partials/navbar
        h2="Ingrese Producto"
        form(action="/products", method="post") 
            input(type="text" name="title" placeholder="Nombre")
            input(type="Number" name="price" placeholder="Precio")
            input(type="text" name="thumbnail" placeholder="Img URL")
            input(type="submit", value="Enviar")
