<form action="/api/cart" onsubmit="return false">
  <input type="number" name="delete" id="deleteInputCart" placeholder="Id del producto a eliminar">
  <input type="submit" value="Eliminar" id="deleteCart">
</form>