<form action="/api/products" onsubmit="return false">
  <input type="number" name="deleteId" id="deleteInput" placeholder="Id del producto a eliminar">
  <input type="submit" value="Eliminar" id="delete">
</form>