<form action="/api/products" onsubmit="return false">
  <input type="number" name="" id="id_modify" placeholder="ID del producto a modificar">
  <label for="title">Nombre</label>
  <input type="text" id="modify_title" name="title" />
  <label for="price">Precio</label>
  <input type="text" id="modify_price" name="price" />
  <label for="thumbnail">Foto URL</label>
  <input type="text" id="modify_thumbnail" name="thumbnail" />
  <input type="submit" value="Modificar" id="botonModificar" />
</form>