<ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/api/products">Productos</a></li>
  <li><a href="/form">Formulario de carga</a></li>
  <li><a href="/modify">Modificar productos</a></li>
  <li><a href="/api/cart">Carrito</a></li>
</ul>