<form action="/api/products" onsubmit="return false">
  <input type="number" name="title" id="put_name" placeholder="Nombre">
  <input type="number" name="price" id="put_price" placeholder="Precio">
  <input type="number" name="image" id="put_image" placeholder="URL imagen">
  <input type="submit" value="Modificar" id="Modificar">
</form>