<div class="search_container">
  <form action="/api/products" method="post" onsubmit="return false">
    <input type="number" name="id" id="id" placeholder="ID del producto buscado">
    <input type="submit" value="Buscar" id="submit">
  </form>

  <div id="search"></div>
</div>