<div class="search_container">
  <form action="/api/cart" method="post" onsubmit="return false">
    <input type="number" name="id" id="idCart" placeholder="ID del producto buscado">
    <input type="submit" value="Buscar" id="submitCart">
  </form>

  <div id="searchCart"></div>
</div>